trunk/SEKS-Client/web/WEB-INF/wsdl/localhost_45071/documentSemanticVectorsService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://services.web.advanced.seks/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.web.advanced.seks/">

<xs:element name="createKeywordBasedSemanticVector" type="tns:createKeywordBasedSemanticVector"/>

<xs:element name="createKeywordBasedSemanticVectorResponse" type="tns:createKeywordBasedSemanticVectorResponse"/>

<xs:element name="getConceptsFromKeywords" type="tns:getConceptsFromKeywords"/>

<xs:element name="getConceptsFromKeywordsResponse" type="tns:getConceptsFromKeywordsResponse"/>

<xs:element name="getConceptsTotalWeights" type="tns:getConceptsTotalWeights"/>

<xs:element name="getConceptsTotalWeightsResponse" type="tns:getConceptsTotalWeightsResponse"/>

<xs:element name="getStatisticalVectorByDocumentId" type="tns:getStatisticalVectorByDocumentId"/>

<xs:element name="getStatisticalVectorByDocumentIdResponse" type="tns:getStatisticalVectorByDocumentIdResponse"/>

<xs:element name="sortConceptsByRelevance" type="tns:sortConceptsByRelevance"/>

<xs:element name="sortConceptsByRelevanceResponse" type="tns:sortConceptsByRelevanceResponse"/>

<xs:element name="storeSemanticVector" type="tns:storeSemanticVector"/>

<xs:complexType name="sortConceptsByRelevance">
<xs:sequence>
<xs:element name="conceptsAndWeights" type="tns:hashMap" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hashMap">
<xs:complexContent>
<xs:extension base="tns:abstractMap">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractMap" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="sortConceptsByRelevanceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createKeywordBasedSemanticVector">
<xs:sequence>
<xs:element name="documentId" type="xs:string" minOccurs="0"/>
<xs:element name="conceptsAndWeights" type="tns:hashMap" minOccurs="0"/>
<xs:element name="sortedConcepts" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createKeywordBasedSemanticVectorResponse">
<xs:sequence>
<xs:element name="return" type="tns:hashMap" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStatisticalVectorByDocumentId">
<xs:sequence>
<xs:element name="documentId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStatisticalVectorByDocumentIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:hashMap" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConceptsTotalWeights">
<xs:sequence>
<xs:element name="statisticVector" type="xs:string" minOccurs="0"/>
<xs:element name="conceptsAndKeywords" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConceptsTotalWeightsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConceptsFromKeywords">
<xs:sequence>
<xs:element name="statisticVector" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConceptsFromKeywordsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeSemanticVector">
<xs:sequence>
<xs:element name="semanticVector" type="tns:hashMap" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>