trunk/SEKS-Client/web/WEB-INF/wsdl/localhost_45071/documentSemanticVectorsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.web.advanced.seks/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.web.advanced.seks/" name="documentSemanticVectorsService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.web.advanced.seks/" schemaLocation="http://localhost:45071/documentSemanticVectorsService?xsd=1"/>
</xsd:schema>
</types>
<message name="getConceptsFromKeywords">
<part name="parameters" element="tns:getConceptsFromKeywords"/>
</message>
<message name="getConceptsFromKeywordsResponse">
<part name="parameters" element="tns:getConceptsFromKeywordsResponse"/>
</message>
<message name="getConceptsTotalWeights">
<part name="parameters" element="tns:getConceptsTotalWeights"/>
</message>
<message name="getConceptsTotalWeightsResponse">
<part name="parameters" element="tns:getConceptsTotalWeightsResponse"/>
</message>
<message name="getStatisticalVectorByDocumentId">
<part name="parameters" element="tns:getStatisticalVectorByDocumentId"/>
</message>
<message name="getStatisticalVectorByDocumentIdResponse">
<part name="parameters" element="tns:getStatisticalVectorByDocumentIdResponse"/>
</message>
<message name="sortConceptsByRelevance">
<part name="parameters" element="tns:sortConceptsByRelevance"/>
</message>
<message name="sortConceptsByRelevanceResponse">
<part name="parameters" element="tns:sortConceptsByRelevanceResponse"/>
</message>
<message name="createKeywordBasedSemanticVector">
<part name="parameters" element="tns:createKeywordBasedSemanticVector"/>
</message>
<message name="createKeywordBasedSemanticVectorResponse">
<part name="parameters" element="tns:createKeywordBasedSemanticVectorResponse"/>
</message>
<message name="storeSemanticVector">
<part name="parameters" element="tns:storeSemanticVector"/>
</message>
<portType name="documentSemanticVectorsService">
<operation name="getConceptsFromKeywords">
<input wsam:Action="http://services.web.advanced.seks/documentSemanticVectorsService/getConceptsFromKeywordsRequest" message="tns:getConceptsFromKeywords"/>
<output wsam:Action="http://services.web.advanced.seks/documentSemanticVectorsService/getConceptsFromKeywordsResponse" message="tns:getConceptsFromKeywordsResponse"/>
</operation>
<operation name="getConceptsTotalWeights">
<input wsam:Action="http://services.web.advanced.seks/documentSemanticVectorsService/getConceptsTotalWeightsRequest" message="tns:getConceptsTotalWeights"/>
<output wsam:Action="http://services.web.advanced.seks/documentSemanticVectorsService/getConceptsTotalWeightsResponse" message="tns:getConceptsTotalWeightsResponse"/>
</operation>
<operation name="getStatisticalVectorByDocumentId">
<input wsam:Action="http://services.web.advanced.seks/documentSemanticVectorsService/getStatisticalVectorByDocumentIdRequest" message="tns:getStatisticalVectorByDocumentId"/>
<output wsam:Action="http://services.web.advanced.seks/documentSemanticVectorsService/getStatisticalVectorByDocumentIdResponse" message="tns:getStatisticalVectorByDocumentIdResponse"/>
</operation>
<operation name="sortConceptsByRelevance">
<input wsam:Action="http://services.web.advanced.seks/documentSemanticVectorsService/sortConceptsByRelevanceRequest" message="tns:sortConceptsByRelevance"/>
<output wsam:Action="http://services.web.advanced.seks/documentSemanticVectorsService/sortConceptsByRelevanceResponse" message="tns:sortConceptsByRelevanceResponse"/>
</operation>
<operation name="createKeywordBasedSemanticVector">
<input wsam:Action="http://services.web.advanced.seks/documentSemanticVectorsService/createKeywordBasedSemanticVectorRequest" message="tns:createKeywordBasedSemanticVector"/>
<output wsam:Action="http://services.web.advanced.seks/documentSemanticVectorsService/createKeywordBasedSemanticVectorResponse" message="tns:createKeywordBasedSemanticVectorResponse"/>
</operation>
<operation name="storeSemanticVector">
<input wsam:Action="http://services.web.advanced.seks/documentSemanticVectorsService/storeSemanticVector" message="tns:storeSemanticVector"/>
</operation>
</portType>
<binding name="documentSemanticVectorsServicePortBinding" type="tns:documentSemanticVectorsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getConceptsFromKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getConceptsTotalWeights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStatisticalVectorByDocumentId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sortConceptsByRelevance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createKeywordBasedSemanticVector">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeSemanticVector">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="documentSemanticVectorsService">
<port name="documentSemanticVectorsServicePort" binding="tns:documentSemanticVectorsServicePortBinding">
<soap:address location="http://localhost:45071/documentSemanticVectorsService"/>
</port>
</service>
</definitions>