trunk/SEKS-Client/web/WEB-INF/wsdl/localhost_45071/querySemanticVectorsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.web.advanced.seks/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.web.advanced.seks/" name="querySemanticVectorsService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.web.advanced.seks/" schemaLocation="http://localhost:45071/querySemanticVectorsService?xsd=1"/>
</xsd:schema>
</types>
<message name="getKeywords">
<part name="parameters" element="tns:getKeywords"/>
</message>
<message name="getKeywordsResponse">
<part name="parameters" element="tns:getKeywordsResponse"/>
</message>
<message name="getQueryKeywords">
<part name="parameters" element="tns:getQueryKeywords"/>
</message>
<message name="getQueryKeywordsResponse">
<part name="parameters" element="tns:getQueryKeywordsResponse"/>
</message>
<message name="createQueryStatisticVector">
<part name="parameters" element="tns:createQueryStatisticVector"/>
</message>
<message name="createQueryStatisticVectorResponse">
<part name="parameters" element="tns:createQueryStatisticVectorResponse"/>
</message>
<message name="getConceptsFromKeywords">
<part name="parameters" element="tns:getConceptsFromKeywords"/>
</message>
<message name="getConceptsFromKeywordsResponse">
<part name="parameters" element="tns:getConceptsFromKeywordsResponse"/>
</message>
<message name="getConceptsTotalWeights">
<part name="parameters" element="tns:getConceptsTotalWeights"/>
</message>
<message name="getConceptsTotalWeightsResponse">
<part name="parameters" element="tns:getConceptsTotalWeightsResponse"/>
</message>
<message name="createQuerySemanticVector">
<part name="parameters" element="tns:createQuerySemanticVector"/>
</message>
<message name="createQuerySemanticVectorResponse">
<part name="parameters" element="tns:createQuerySemanticVectorResponse"/>
</message>
<portType name="querySemanticVectorsService">
<operation name="getKeywords">
<input wsam:Action="http://services.web.advanced.seks/querySemanticVectorsService/getKeywordsRequest" message="tns:getKeywords"/>
<output wsam:Action="http://services.web.advanced.seks/querySemanticVectorsService/getKeywordsResponse" message="tns:getKeywordsResponse"/>
</operation>
<operation name="getQueryKeywords">
<input wsam:Action="http://services.web.advanced.seks/querySemanticVectorsService/getQueryKeywordsRequest" message="tns:getQueryKeywords"/>
<output wsam:Action="http://services.web.advanced.seks/querySemanticVectorsService/getQueryKeywordsResponse" message="tns:getQueryKeywordsResponse"/>
</operation>
<operation name="createQueryStatisticVector">
<input wsam:Action="http://services.web.advanced.seks/querySemanticVectorsService/createQueryStatisticVectorRequest" message="tns:createQueryStatisticVector"/>
<output wsam:Action="http://services.web.advanced.seks/querySemanticVectorsService/createQueryStatisticVectorResponse" message="tns:createQueryStatisticVectorResponse"/>
</operation>
<operation name="getConceptsFromKeywords">
<input wsam:Action="http://services.web.advanced.seks/querySemanticVectorsService/getConceptsFromKeywordsRequest" message="tns:getConceptsFromKeywords"/>
<output wsam:Action="http://services.web.advanced.seks/querySemanticVectorsService/getConceptsFromKeywordsResponse" message="tns:getConceptsFromKeywordsResponse"/>
</operation>
<operation name="getConceptsTotalWeights">
<input wsam:Action="http://services.web.advanced.seks/querySemanticVectorsService/getConceptsTotalWeightsRequest" message="tns:getConceptsTotalWeights"/>
<output wsam:Action="http://services.web.advanced.seks/querySemanticVectorsService/getConceptsTotalWeightsResponse" message="tns:getConceptsTotalWeightsResponse"/>
</operation>
<operation name="createQuerySemanticVector">
<input wsam:Action="http://services.web.advanced.seks/querySemanticVectorsService/createQuerySemanticVectorRequest" message="tns:createQuerySemanticVector"/>
<output wsam:Action="http://services.web.advanced.seks/querySemanticVectorsService/createQuerySemanticVectorResponse" message="tns:createQuerySemanticVectorResponse"/>
</operation>
</portType>
<binding name="querySemanticVectorsServicePortBinding" type="tns:querySemanticVectorsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQueryKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createQueryStatisticVector">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getConceptsFromKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getConceptsTotalWeights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createQuerySemanticVector">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="querySemanticVectorsService">
<port name="querySemanticVectorsServicePort" binding="tns:querySemanticVectorsServicePortBinding">
<soap:address location="http://localhost:45071/querySemanticVectorsService"/>
</port>
</service>
</definitions>