trunk/SEKS-Client/web/WEB-INF/wsdl/localhost_45071/vectorComparisonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.web.advanced.seks/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.web.advanced.seks/" name="vectorComparisonService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.web.advanced.seks/" schemaLocation="http://localhost:45071/vectorComparisonService?xsd=1"/>
</xsd:schema>
</types>
<message name="getSharedConcepts">
<part name="parameters" element="tns:getSharedConcepts"/>
</message>
<message name="getSharedConceptsResponse">
<part name="parameters" element="tns:getSharedConceptsResponse"/>
</message>
<message name="compareSemanticVectors">
<part name="parameters" element="tns:compareSemanticVectors"/>
</message>
<message name="compareSemanticVectorsResponse">
<part name="parameters" element="tns:compareSemanticVectorsResponse"/>
</message>
<message name="getSemanticVectorByDocumentId">
<part name="parameters" element="tns:getSemanticVectorByDocumentId"/>
</message>
<message name="getSemanticVectorByDocumentIdResponse">
<part name="parameters" element="tns:getSemanticVectorByDocumentIdResponse"/>
</message>
<message name="getDocumentIds">
<part name="parameters" element="tns:getDocumentIds"/>
</message>
<message name="getDocumentIdsResponse">
<part name="parameters" element="tns:getDocumentIdsResponse"/>
</message>
<message name="sortDocumentResultsByRelevance">
<part name="parameters" element="tns:sortDocumentResultsByRelevance"/>
</message>
<message name="sortDocumentResultsByRelevanceResponse">
<part name="parameters" element="tns:sortDocumentResultsByRelevanceResponse"/>
</message>
<portType name="vectorComparisonService">
<operation name="getSharedConcepts">
<input wsam:Action="http://services.web.advanced.seks/vectorComparisonService/getSharedConceptsRequest" message="tns:getSharedConcepts"/>
<output wsam:Action="http://services.web.advanced.seks/vectorComparisonService/getSharedConceptsResponse" message="tns:getSharedConceptsResponse"/>
</operation>
<operation name="compareSemanticVectors">
<input wsam:Action="http://services.web.advanced.seks/vectorComparisonService/compareSemanticVectorsRequest" message="tns:compareSemanticVectors"/>
<output wsam:Action="http://services.web.advanced.seks/vectorComparisonService/compareSemanticVectorsResponse" message="tns:compareSemanticVectorsResponse"/>
</operation>
<operation name="getSemanticVectorByDocumentId">
<input wsam:Action="http://services.web.advanced.seks/vectorComparisonService/getSemanticVectorByDocumentIdRequest" message="tns:getSemanticVectorByDocumentId"/>
<output wsam:Action="http://services.web.advanced.seks/vectorComparisonService/getSemanticVectorByDocumentIdResponse" message="tns:getSemanticVectorByDocumentIdResponse"/>
</operation>
<operation name="getDocumentIds">
<input wsam:Action="http://services.web.advanced.seks/vectorComparisonService/getDocumentIdsRequest" message="tns:getDocumentIds"/>
<output wsam:Action="http://services.web.advanced.seks/vectorComparisonService/getDocumentIdsResponse" message="tns:getDocumentIdsResponse"/>
</operation>
<operation name="sortDocumentResultsByRelevance">
<input wsam:Action="http://services.web.advanced.seks/vectorComparisonService/sortDocumentResultsByRelevanceRequest" message="tns:sortDocumentResultsByRelevance"/>
<output wsam:Action="http://services.web.advanced.seks/vectorComparisonService/sortDocumentResultsByRelevanceResponse" message="tns:sortDocumentResultsByRelevanceResponse"/>
</operation>
</portType>
<binding name="vectorComparisonServicePortBinding" type="tns:vectorComparisonService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getSharedConcepts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="compareSemanticVectors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSemanticVectorByDocumentId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDocumentIds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sortDocumentResultsByRelevance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="vectorComparisonService">
<port name="vectorComparisonServicePort" binding="tns:vectorComparisonServicePortBinding">
<soap:address location="http://localhost:45071/vectorComparisonService"/>
</port>
</service>
</definitions>