trunk/seks-client/src/conf/xml-resources/web-service-references/QuerySemanticVectorsService/wsdl/localhost_8080/seks-tomcat/QuerySemanticVectorsService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><xs:schema xmlns:tns="http://services.web.advanced.seks/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.web.advanced.seks/">

<xs:element name="createQuerySemanticVector" type="tns:createQuerySemanticVector" />

<xs:element name="createQuerySemanticVectorResponse" type="tns:createQuerySemanticVectorResponse" />

<xs:element name="createQueryStatisticVector" type="tns:createQueryStatisticVector" />

<xs:element name="createQueryStatisticVectorResponse" type="tns:createQueryStatisticVectorResponse" />

<xs:element name="getConceptsFromKeywords" type="tns:getConceptsFromKeywords" />

<xs:element name="getConceptsFromKeywordsResponse" type="tns:getConceptsFromKeywordsResponse" />

<xs:element name="getConceptsTotalWeights" type="tns:getConceptsTotalWeights" />

<xs:element name="getConceptsTotalWeightsResponse" type="tns:getConceptsTotalWeightsResponse" />

<xs:element name="getQueryKeywords" type="tns:getQueryKeywords" />

<xs:element name="getQueryKeywordsResponse" type="tns:getQueryKeywordsResponse" />

<xs:complexType name="getConceptsFromKeywords">
<xs:sequence>
<xs:element name="statisticVector" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConceptsFromKeywordsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConceptsTotalWeights">
<xs:sequence>
<xs:element name="statisticVector" type="xs:string" minOccurs="0" />
<xs:element name="conceptsAndKeywords" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConceptsTotalWeightsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createQueryStatisticVector">
<xs:sequence>
<xs:element name="queryKeywords" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createQueryStatisticVectorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQueryKeywords">
<xs:sequence>
<xs:element name="query" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQueryKeywordsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createQuerySemanticVector">
<xs:sequence>
<xs:element name="conceptsAndWeights" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createQuerySemanticVectorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>