trunk/seks-client/web/WEB-INF/wsdl/localhost_8080/seks-tomcat/QuerySemanticVectorsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.web.advanced.seks/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.web.advanced.seks/" name="QuerySemanticVectorsService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.web.advanced.seks/" schemaLocation="http://localhost:8080/seks-tomcat/QuerySemanticVectorsService?xsd=1" />
</xsd:schema>
</types>
<message name="getQueryKeywords">
<part name="parameters" element="tns:getQueryKeywords" />
</message>
<message name="getQueryKeywordsResponse">
<part name="parameters" element="tns:getQueryKeywordsResponse" />
</message>
<message name="createQueryStatisticVector">
<part name="parameters" element="tns:createQueryStatisticVector" />
</message>
<message name="createQueryStatisticVectorResponse">
<part name="parameters" element="tns:createQueryStatisticVectorResponse" />
</message>
<message name="createQuerySemanticVector">
<part name="parameters" element="tns:createQuerySemanticVector" />
</message>
<message name="createQuerySemanticVectorResponse">
<part name="parameters" element="tns:createQuerySemanticVectorResponse" />
</message>
<message name="getConceptsFromKeywords">
<part name="parameters" element="tns:getConceptsFromKeywords" />
</message>
<message name="getConceptsFromKeywordsResponse">
<part name="parameters" element="tns:getConceptsFromKeywordsResponse" />
</message>
<message name="getConceptsTotalWeights">
<part name="parameters" element="tns:getConceptsTotalWeights" />
</message>
<message name="getConceptsTotalWeightsResponse">
<part name="parameters" element="tns:getConceptsTotalWeightsResponse" />
</message>
<portType name="QuerySemanticVectorsService">
<operation name="getQueryKeywords">
<input wsam:Action="http://services.web.advanced.seks/QuerySemanticVectorsService/getQueryKeywordsRequest" message="tns:getQueryKeywords" />
<output wsam:Action="http://services.web.advanced.seks/QuerySemanticVectorsService/getQueryKeywordsResponse" message="tns:getQueryKeywordsResponse" />
</operation>
<operation name="createQueryStatisticVector">
<input wsam:Action="http://services.web.advanced.seks/QuerySemanticVectorsService/createQueryStatisticVectorRequest" message="tns:createQueryStatisticVector" />
<output wsam:Action="http://services.web.advanced.seks/QuerySemanticVectorsService/createQueryStatisticVectorResponse" message="tns:createQueryStatisticVectorResponse" />
</operation>
<operation name="createQuerySemanticVector">
<input wsam:Action="http://services.web.advanced.seks/QuerySemanticVectorsService/createQuerySemanticVectorRequest" message="tns:createQuerySemanticVector" />
<output wsam:Action="http://services.web.advanced.seks/QuerySemanticVectorsService/createQuerySemanticVectorResponse" message="tns:createQuerySemanticVectorResponse" />
</operation>
<operation name="getConceptsFromKeywords">
<input wsam:Action="http://services.web.advanced.seks/QuerySemanticVectorsService/getConceptsFromKeywordsRequest" message="tns:getConceptsFromKeywords" />
<output wsam:Action="http://services.web.advanced.seks/QuerySemanticVectorsService/getConceptsFromKeywordsResponse" message="tns:getConceptsFromKeywordsResponse" />
</operation>
<operation name="getConceptsTotalWeights">
<input wsam:Action="http://services.web.advanced.seks/QuerySemanticVectorsService/getConceptsTotalWeightsRequest" message="tns:getConceptsTotalWeights" />
<output wsam:Action="http://services.web.advanced.seks/QuerySemanticVectorsService/getConceptsTotalWeightsResponse" message="tns:getConceptsTotalWeightsResponse" />
</operation>
</portType>
<binding name="QuerySemanticVectorsServicePortBinding" type="tns:QuerySemanticVectorsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getQueryKeywords">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createQueryStatisticVector">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createQuerySemanticVector">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getConceptsFromKeywords">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getConceptsTotalWeights">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="QuerySemanticVectorsService">
<port name="QuerySemanticVectorsServicePort" binding="tns:QuerySemanticVectorsServicePortBinding">
<soap:address location="http://localhost:8080/seks-tomcat/QuerySemanticVectorsService" />
</port>
</service>
</definitions>