seks-client/src/conf/xml-resources/web-service-references/VectorComparisonService/wsdl/localhost_8080/seks-tomcat/VectorComparisonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.web.advanced.seks/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.web.advanced.seks/" name="VectorComparisonService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.web.advanced.seks/" schemaLocation="http://localhost:8080/seks-tomcat/VectorComparisonService?xsd=1" />
</xsd:schema>
</types>
<message name="getSharedConcepts">
<part name="parameters" element="tns:getSharedConcepts" />
</message>
<message name="getSharedConceptsResponse">
<part name="parameters" element="tns:getSharedConceptsResponse" />
</message>
<message name="compareSemanticVectors">
<part name="parameters" element="tns:compareSemanticVectors" />
</message>
<message name="compareSemanticVectorsResponse">
<part name="parameters" element="tns:compareSemanticVectorsResponse" />
</message>
<message name="sortDocumentResultsByRelevance">
<part name="parameters" element="tns:sortDocumentResultsByRelevance" />
</message>
<message name="sortDocumentResultsByRelevanceResponse">
<part name="parameters" element="tns:sortDocumentResultsByRelevanceResponse" />
</message>
<message name="getSemanticVectorByDocumentId">
<part name="parameters" element="tns:getSemanticVectorByDocumentId" />
</message>
<message name="getSemanticVectorByDocumentIdResponse">
<part name="parameters" element="tns:getSemanticVectorByDocumentIdResponse" />
</message>
<message name="getDocumentIds">
<part name="parameters" element="tns:getDocumentIds" />
</message>
<message name="getDocumentIdsResponse">
<part name="parameters" element="tns:getDocumentIdsResponse" />
</message>
<portType name="VectorComparisonService">
<operation name="getSharedConcepts">
<input wsam:Action="http://services.web.advanced.seks/VectorComparisonService/getSharedConceptsRequest" message="tns:getSharedConcepts" />
<output wsam:Action="http://services.web.advanced.seks/VectorComparisonService/getSharedConceptsResponse" message="tns:getSharedConceptsResponse" />
</operation>
<operation name="compareSemanticVectors">
<input wsam:Action="http://services.web.advanced.seks/VectorComparisonService/compareSemanticVectorsRequest" message="tns:compareSemanticVectors" />
<output wsam:Action="http://services.web.advanced.seks/VectorComparisonService/compareSemanticVectorsResponse" message="tns:compareSemanticVectorsResponse" />
</operation>
<operation name="sortDocumentResultsByRelevance">
<input wsam:Action="http://services.web.advanced.seks/VectorComparisonService/sortDocumentResultsByRelevanceRequest" message="tns:sortDocumentResultsByRelevance" />
<output wsam:Action="http://services.web.advanced.seks/VectorComparisonService/sortDocumentResultsByRelevanceResponse" message="tns:sortDocumentResultsByRelevanceResponse" />
</operation>
<operation name="getSemanticVectorByDocumentId">
<input wsam:Action="http://services.web.advanced.seks/VectorComparisonService/getSemanticVectorByDocumentIdRequest" message="tns:getSemanticVectorByDocumentId" />
<output wsam:Action="http://services.web.advanced.seks/VectorComparisonService/getSemanticVectorByDocumentIdResponse" message="tns:getSemanticVectorByDocumentIdResponse" />
</operation>
<operation name="getDocumentIds">
<input wsam:Action="http://services.web.advanced.seks/VectorComparisonService/getDocumentIdsRequest" message="tns:getDocumentIds" />
<output wsam:Action="http://services.web.advanced.seks/VectorComparisonService/getDocumentIdsResponse" message="tns:getDocumentIdsResponse" />
</operation>
</portType>
<binding name="VectorComparisonServicePortBinding" type="tns:VectorComparisonService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getSharedConcepts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="compareSemanticVectors">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sortDocumentResultsByRelevance">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSemanticVectorByDocumentId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDocumentIds">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="VectorComparisonService">
<port name="VectorComparisonServicePort" binding="tns:VectorComparisonServicePortBinding">
<soap:address location="http://localhost:8080/seks-tomcat/VectorComparisonService" />
</port>
</service>
</definitions>